<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confirmacao de cadastro de funcionário.</title>
</head>
<body>		
    <h2>Cadastro confirmado</h2>
    </form>
    <a href="/home" method = "POST"><button>Voltar</button></a>
</body>
</html>