<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confirmacao de cadastro de paciente.</title>
</head>
<body>
    <h2>Confirma cadastro</h2>
    <p>Input coletado presente no terminal. Operação de Cadastro finalizada. Por favor, retorne a pagina inicial.</p>
    </form>
    <a href="/"> <button>Voltar</button></a>
</body>
</html>