<!DOCTYPE html>
<html>
<head>
  <title>Weblioteca</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
</style>
</head>
<body>

<div class="navbar">
<a href="/">Deslogar</a>
  <div class="dropdown">
  <button class="dropbtn" onclick="myFunction(1)">Pacientes
    <i class="fa fa-caret-down"> </i> </button>
  <div class="dropdown-content" id="myDropdownP" >
    <a href="/CadastroP">Novo</a>  <!-- create -->
    <a href="/leituraP">Listagem</a> <!-- read -->
    <a href="/editP/2">Histórico</a> <!-- edit -->
    </div>
  </div>
  <div class="dropdown">
  <button class="dropbtn" onclick="myFunction(2)">Médicos
    <i class="fa fa-caret-down"> </i> </button>
  <div class="dropdown-content" id="myDropdownM">
    <a href="/CadastroM">Novo</a>  <!-- create -->
    <a href="/leituraM">Listagem</a> <!-- read -->
    </div>
  </div>
    <div class="dropdown">
    <button class="dropbtn" onclick="myFunction(3)">Exames
      <i class="fa fa-caret-down"> </i> </button>
    <div class="dropdown-content" id="myDropdownE">
      <a href="/leituraPreco">Tabela de Preços</a> <!-- read -->
    </div>
  </div> 
</div>

<h3>Bem-vindo a gerencia de pacientes do software Raviporus!,utilizando o controle de acesso de Secretaria.</h3>

<script>
function myFunction(tipo) {
  switch(tipo){
    case 1:
      document.getElementById("myDropdownP").classList.toggle("show");
      break;
    case 2:
      document.getElementById("myDropdownM").classList.toggle("show");
      break;
    case 3:
      document.getElementById("myDropdownE").classList.toggle("show");
      break;
    case 4:
      document.getElementById("myDropdownA").classList.toggle("show");
      break;
  }
}
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdownP = document.getElementById("myDropdownP");
  var myDropdownM =document.getElementById("myDropdownM");
  var myDropdownE =document.getElementById("myDropdownE");
  var myDropdownA =document.getElementById("myDropdownA");
      if (myDropdownP.classList.contains('show')) {
      myDropdownP.classList.remove('show');
  } if (myDropdownM.classList.contains('show')) {
      myDropdownM.classList.remove('show');
  } if (myDropdownE.classList.contains('show')) {
      myDropdownE.classList.remove('show')
  } if (myDropdownA.classList.contains('show')) {
      myDropdownA.classList.remove('show')
  }
}
}
</script>
</body>
</html>